Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
String = "PWSkills"
print(type(String))

List = ["PWSkills"]
print(type(List))

Float = 10.00
print(type(Float))

Tuple = ("PWSkills",)
print(type(Tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [8]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print("The data type of var1 is: ",type(var1))
print("The data type of var2 is: ",type(var2))
print("The data type of var3 is: ",type(var3))
print("The data type of var4 is: ",type(var4))

The data type of var1 is:  <class 'str'>
The data type of var2 is:  <class 'str'>
The data type of var3 is:  <class 'list'>
The data type of var4 is:  <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
# / is divide operator Ex:-
4/2

2.0

In [14]:
# % is modulo operator gives us remainder
5%2

1

In [15]:
#// gives us quotient
5//2

2

In [17]:
#** is power operator two stars mens power of __
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
List = ["PwSkills", 1 , 1.00, True, 1+2j, [1,"abc",2], (1,), "Swapnil", 0.10, False]

for i in List:
    print(i, "Data type is : ", type(i))

PwSkills Data type is :  <class 'str'>
1 Data type is :  <class 'int'>
1.0 Data type is :  <class 'float'>
True Data type is :  <class 'bool'>
(1+2j) Data type is :  <class 'complex'>
[1, 'abc', 2] Data type is :  <class 'list'>
(1,) Data type is :  <class 'tuple'>
Swapnil Data type is :  <class 'str'>
0.1 Data type is :  <class 'float'>
False Data type is :  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = int(input("Number A: "))
B = int(input("Number B: "))

while A % B == 0:
    count = A / B
    print(A,"is divisible by",B)
    print("No.of times it can be divisible :",count)
    break
else:
    print(A,"is not divisible by",B)

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
 List = []
for i in range(1,26):
    List.append(i)
    if i%3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")
print(List)

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
""" 
Mutable - In Mutable data type we can change values and assingn new value using indexing
for EX: """

List = ["PwSkills", 1 , 1.00, True, 1+2j, [1,"abc",2], (1,), "Swapnil", 0.10, False]

List[1] = 10

print(List)

"""
Immutable : In Immutable data type we cannot change value and assign new value using indexing
for EX:

"""

#str is immutable shows error
print(List[0][1])
List[0][1] = "C" 

#tuple is immutable shows error
Tuple = (1,2,3)
Tuple.append(4)
print(Tuple)