Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# We can comment in python using # 

"""
If we have more lines then
We can use '''
or \""" ( if we want to add quotes in middle of comment ) & then close it using 
"""

'\nIf we have more lines then\nWe can use \'\'\'\nor """ ( if we want to add quotes in middle of comment ) & then close it using '

Q2. What are variables in Python? How do you declare and assign values to variables?

In [18]:
'''
To store data( Integer, String, Boolean, Float,Complex Numbers, List, Tuple, Dictionary )  Variables are used.
We can assign value to variable using assign function =
Ex:
'''
a = 10

#And declare function as follows

b=a

print(b)

#We can use only letters & _ at the start to assign variable and do not use number at the start

_a10 = 20

#10a = 30

#We cannot use if, else, for type commands to assign variable
#Python is case sensitive so from 1st example we cannot get value of B = 10

10
20

Q3. How do you convert one data type to another in Python?

In [44]:
#To convert into Interger
a = int(10.21564)
print(type(a))

#To convert into Float
b = float(10)
print(type(b))

#To convert into List
c = (13, "list", (1,12))
c1 = list(c)
print(type(c1))

#To convert into Boolean
d = bool(10)
print(type(d))

#To convert into complex
d = complex(10)
print(type(d))

#To convert into Tuple
d = (10,)
print(type(d))

#To convert into set
e = (13, "list", (1,12))
e1 = set(e)
print(type(e1))

#If we have key-value pair then 

f = [(a,"10"), (b,"11")]
i = dict(f)
print(type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'bool'>
<class 'complex'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

Q4. How do you write and execute a Python script from the command line?

1. Create a notepad file containing python code Ex: print(10)
2. Save this file as .py extention
3. Run cmd
4. Use cd-space-desired folder path where we saved our .py file
5. Execute this file using python commannd Ex: python test.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [45]:
my_list = [1, 2, 3, 4, 5]
sub_list =  my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [50]:
"""
Complex number is anumber in which we have one real number & one imaginary number
Ex: 5 + 1j 
In the above example 5 is Real Number, 1 is imaginary number j is imaginary unit
"""

a = 5 + 1j 
print(type(a))

<class 'complex'>

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [51]:
age =25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [52]:
price = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [53]:
name = "Swapnil Kailas Sable"
print(name)

Swapnil Kailas Sable

Q10. Given the string "Hello, World!", extract the substring "World".

In [54]:
a = "Hello, World!"
b = a[7:]
print(b)

World!

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [56]:
is_student = True

if is_student == True:
    print("Currently a student")
else:
    print("Currently not a student")

Currently a student